<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{$.URL "static" "css"}}/bootstrap.min.css">

    <title>{{block "title" .}}{{end}}</title>
    <script src="{{$.URL "static" "js"}}/htmx.js"></script>
</head>

<body>
<nav class="navbar navbar-expand bg-body-tertiary mb-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{$.URL}}/">PikoBrain</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{{$.URL}}/">Home</a>
                <a class="nav-link" href="{{$.URL "threads"}}/">Threads</a>
            </div>
        </div>
    </div>
</nav>
<div class="container-xxl">
    {{if .Notifications}}
        {{range .Notifications}}
            <div class="alert alert-{{if eq .Kind "error"}}danger{{else}}{{.Kind}}{{end}} mb-2" role="alert">
                {{- with .Title}}
                    <h3>{{.}}</h3>
                {{- end}}
                {{.Message}}
            </div>
        {{end}}
    {{end}}
    {{block "main" .}}
        Default content
    {{end}}
</div>
</body>
{{block "afterBody" .}}{{end}}
</html>